---
import TrackListItem from "./TrackListItem.astro";
---

<div class="tracklist">
  <ul class="blogs">
    <TrackListItem title="Title" runtime="3:15" />
    <TrackListItem title="Title" runtime="3:15" />
    <TrackListItem title="Title" runtime="3:15" />
    <TrackListItem title="Title" runtime="3:15" />
    <TrackListItem title="Title" runtime="3:15" />
    <TrackListItem title="Title" runtime="3:15" />
  </ul>
</div>
<style>
  .tracklist {
    font-family: "Manrope";
    place-items: center;
  }
  .blogs {
    width: 100%;
    display: grid;
    gap: 2rem;
  }

  @media screen and (min-width: 810px) {
    .blogs {
      gap: 4rem;
    }
  }
</style>
